<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= clmap.cl('#title').call(outKey) %></title>
<link href="/zenbun/_asset/style.css" rel="stylesheet">
<script src="/zenbun/_asset/script.js"></script>
</head>
<body>

<header class="container">
<%= clmap.cl('#fulltitle').call(outKey) %>
<%= clmap.cl('#author').call(outKey) %>
<nav class="list-group">
<%= clmap.cl('#index').call(outKey) %>
</nav>
</header>

<article class="container">
<%= clmap.cl('#body').call(outKey) %>
</article>

<footer class="container">
<%= clmap.cl('#backlink').call(outKey) %>
</footer>

</body>
</html>
